# Entornos virtuales
.venv/
venv/

# Archivos compilados de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de configuración local
*.env
*.local

# Archivos de VS Code
.vscode/

# Archivos de sistema
.DS_Store
Thumbs.db
data_raw/
rois/
